name: CMake

on:
  push:
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          # - os: ubuntu-latest
          #   vcpkg_triplet: x64-linux-release
          - os: ubuntu-latest
            vcpkg_triplet: x64-linux
          # - os: windows-latest
          #   vcpkg_triplet: x64-windows-release
          - os: windows-latest
            vcpkg_triplet: x64-windows

    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
        submodules: recursive

    - name: Install libs
      run: sudo apt install -y libflac-dev libfreetype6-dev libgl1-mesa-dev libopenal-dev libudev-dev libvorbis-dev libx11-dev libxcursor-dev libxi-dev libxrandr-dev
      if: ${{ matrix.config.os == 'ubuntu-latest' }}

    - name: vcpkg
      uses: johnwason/vcpkg-action@v4
      with:
        pkgs: sfml gtest glog
        triplet: ${{ matrix.config.vcpkg_triplet }}
        cache-key: ${{ matrix.config.os }}
        token: ${{ github.token }}

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=${{ matrix.config.vcpkg_triplet }}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
